@import url("https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=PT+Serif:ital,wght@1,400;1,700&display=swap");

@import "tailwindcss";

.custom-font {
  font-family: "Lobseter";
}

.editor-wrapper .ProseMirror {
  outline: none;
  padding: 1rem;
  font-size: 25px;
}

.editor-wrapper::-webkit-scrollbar {
  width: 8px;
}

.editor-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.editor-wrapper::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

.editor-wrapper::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.editor-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.ProseMirror p.is-editor-empty::before {
  content: attr(data-placeholder);
  color: #9ca3af;
  float: left;
  height: 0;
  pointer-events: none;
  user-select: none;
}

.ProseMirror ul[data-type="taskList"] {
  list-style: none;
  padding-left: 1.5rem;
}

.ProseMirror ul[data-type="taskList"] li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.othersProfile::-webkit-scrollbar {
  width: 8px;
}

.othersProfile::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

.othersProfile::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 4px;
}

.othersProfile::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.othersProfile {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-out forwards;
}

@keyframes scaleUp {
  0% {
    transform: scale(1.1);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scale-up {
  animation: scaleUp 1s ease-out forwards;
}
